body {
    background-color: #64b5f6;
    font-family: Arial, sans-serif;
}
.container {
   color:blue;
    background: #ffcdd2;
    padding: 20px;
    margin: 40px auto;
    width: 95%;
    max-width:500px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
input, button {
    width: 100% 50%;
    padding: 15px;
    margin: 15px 0 ;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 1px solid #ccc;
}